*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html{
    font-family:  Helvetica, Arial, sans-serif;
}

.app{
    overflow: hidden;
}

.content{
    width: 100%;
    position: relative;
    top: 50px;
    text-align: center;
    background-color: #f5f5f5;
     text-align: center;

}

.content__text{
    font-size: 2.5em;
    color: #FFCA44;
    text-decoration: none;
    justify-content: center;
    display: flex;
    background-color: rgb(48, 32, 33);
}

.product__link{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    background-color: #fff;
    
}

.anhsp{
    padding-top: 10px;
}
.product{
    list-style: none;
}

.product__text{
    padding-top: 3px;
}

.product__text:hover{
    color: #FF5440;
}

.footer{
    position: relative;
    width: 100%;
    height: 550px;
    background-color: #302021;
    top: 200px;
}

.footer__heading{
    padding-top: 30px;
    font-weight: 300;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.footer-list{
    list-style: none;
    padding-top: 10px;
}

.footer-item{
    padding-top: 10px;
}

.footer-item__link{
    text-decoration: none;
    color: #A4A4A4;
}

.footer-item__link:hover{
    color: #FFCA44;
}

.band{
    position: relative;
    top: 100px;
}

.text{
    color: #FFCA44;
    text-align: center;
}

@media (max-width: 1023px){

    .hide-on-mobile-tablet{
        display: none;
    }

    .header{
        display: none;
    }

    .header2{
        height: 100px;
        background-color: #302021;
        display: none;
        justify-content:space-between;
        padding: 0px;
    }

    .footer{
        position: relative;
        width: 100%;
        height: 650px;
        background-color: #302021;
        top: 200px;
    }

    .footer__heading{
        text-align: center;
    }

    .footer-item{
        text-align: center;
    }
}

@media (max-width: 739px){
    .hide-on-mobile{
        display: none;
    }

    .header__nav{
        display: none;
    }

    .slide{
        display: none;
    }
    .footer{
        position: relative;
        width: 100%;
        height: 1000px;
        background-color: #302021;
        top: 200px;
    }

    .footer__heading{
        text-align: center;
    }

    .footer-item{
        text-align: center;
    }

}

